/* Fonts */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-weight: 400;
  src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'),
       url('../fonts/roboto-v30-latin-regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-weight: 500;
  src: url('../fonts/roboto-v30-latin-500.woff2') format('woff2'),
       url('../fonts/roboto-v30-latin-500.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-weight: 700;
  src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2'),
       url('../fonts/roboto-v30-latin-700.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Play';
  font-weight: 700;
  src: url('../fonts/play-v19-latin-700.woff2') format('woff2'),
       url('../fonts/play-v19-latin-700.woff') format('woff');
}

/* Variables */
:root {
    --color-primary-accent: #2B7FFF;
    --color-primary-light: #FFFFFF;
    --color-primary-dark: #011C44;

}

/* Base */
* {
    box-sizing: border-box;
}

body {
    color: var(--color-primary-dark);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
}

address {
    font-style: normal;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 24px;
}


/* Button */
.button {
    color: var(--color-primary-light);
    background-color: var(--color-primary-accent);
    border: 2px solid var(--color-primary-accent);
    border-radius: 32px;
    font-weight: 600;
    padding: 16px 32px;
}

.button:hover {
    color: var(--color-primary-dark);
    background-color: transparent;
}

/* Links */
.link {
    line-height: normal;
    color: var(--color-primary-dark);
    text-decoration: none;
}

.link:hover {
    font-weight: 700;
    color: var(--color-primary-accent);
}

/* Header section */
.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 240px;
}

.header-menu {
    display: flex;
    gap: 56px;  
}

.address-header {
    display: flex;
    gap: 32px;
}

/* Main */
.section-title {
    font-family: 'Play', sans-serif;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 48px;
}

.accent {
    color: #2B7FFF;
}

/* Hero section */
.hero-section {
    padding: 16px 0 64px 0;
}

.hero-title {
    color: var(--color-primary-accent);
    font-family: 'Play', sans-serif;
    font-size: 140px;
    font-weight: 700;
    line-height: 0.8;
    text-transform: capitalize;
    margin-bottom: 40px;
}

.hero-subtitle {
    margin-bottom: 16px;
}

.hero-text {
    color: #4A4A4A;
    font-size: 12px;
    line-height: 1.5;
}

/* About section */
.about-section {
    padding: 64px 0 88px 0;
}

.about-title {
    margin-bottom: 40px;
    padding-top: 41px;
}

.about-accent {
    text-transform: capitalize;
}

.about-accent-small {
    font-weight: 600;
}

.about-text {
    font-size: 22px;
    line-height: 1.7;
}

.text-offer {
    margin-bottom: 40px;
}

.text-guarantee {
    margin-bottom: 199px;
}

/* Advantages section */
.advantages-section {
    padding: 88px 0 52px 0;
}

.advantages-text {
    color: #000;
    text-align: center;
    line-height: 1.3;
}

/* Procedures section */
.procedures-section {
    padding: 52px 0 45px 0;
}

.procedure-title {
    color: var(--color-primary-light);
    text-align: center;
    font-size: 22px;
    line-height: 1.2;
}

/* Contacts section */
.contacts-section {
    padding: 45px 0 94px 0;
}

/* Footer */
footer {
    background-color: var(--color-primary-dark);
}

.link-footer {
    font-size: 16px;
    color: #FFFFFF;
}

.link-footer:hover {
    font-size: 16px;
    font-weight: 700;
}

.address-link {
    color: var(--color-primary-light);
    font-size: 16px;
    text-decoration: none;
}

.address-link:hover {
    color: var(--color-primary-accent);
}

.address-copyright {
    color: #747272;
    font-size: 13px;
}



